$colorLight: #cbc1b6;
$colorMedium: #a4b2c3;
$colorPrimary: #161717;
$colorPrimaryLight: rgba(22, 23, 23, 0.6);
$fontPrimary: "Dosis", sans-serif;
$fontTitels: "Unica One", cursive;
$fontHaakje: "Reenie Beanie", cursive;
