.hoofd-content {
  width: 100vw;
  /*max-width: 85rem;*/
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.8fr 0.1fr;
}

.container__gevel {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  @mixin atMedium {
    flex-direction: row-reverse;
    width: 100%;
    max-width: 50rem;
    margin: 0 auto;

    @mixin atLarge {
      max-width: 85rem;
      position: relative;
      right: 3rem;
    }
  }

  &-img {
    display: block;
    width: 70vw;
    margin: 0 auto;

    @mixin atMedium {
      margin: 0;
      width: 0;
      flex: 0.7;
    }
  }

  &-img-foto {
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;

    @mixin atMedium {
      margin-left: 0;
      margin-right: 0;
      width: 100%;
    }

    @mixin atLarge {
      position: relative;
      left: 0.4rem;
    }
  }

  &-body {
    width: 90vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    @mixin atMedium {
      width: 0;
      flex: 1;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      top: 7rem;
    }
  }

  &-body--img {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  &-body--img-haakje {
    @mixin atMedium {
      transform: scale(1.1);
    }
  }

  &-body-address {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    @mixin atMedium {
      position: relative;
    }
  }

  &-body-address--title span {
    display: none;

    @mixin atMedium {
      display: inline-block;
    }
  }

  &-body-address--title {
    font-family: $fontTitels;
    color: $colorPrimary;
    font-weight: 400;
    margin-left: 0.3125rem;
    font-size: 1.7rem;

    @mixin atMedium {
      position: relative;
      left: -3.1rem;
      top: -2rem;
    }
  }

  &-body-address--paragraaf {
    font-size: 1rem;
    font-family: $fontPrimary;
    color: $colorPrimary;
    font-weight: 300;
    margin-left: 2.3rem;
    margin-top: -5px;
    line-height: 0.2;
    letter-spacing: 0.1px;
    /* text-shadow: 0.4px 0.4px 0 rgba(16, 17, 17, 0.7);*/

    @mixin atMedium {
      position: relative;
      font-size: 1rem;
      line-height: 0.2;
      top: -0.8rem;
      left: -2rem;
    }

    @mixin atLarge {
      font-size: 1.1rem;
      margin-top: -9px;
      margin-left: 2rem;
    }
  }

  &-body-address--paragraaf .p1,
  &-body-address--paragraaf .p2,
  &-body-address--paragraaf .p3 {
    padding-bottom: 0.8em;

    @mixin atMedium {
      padding-bottom: 0.5em;
    }
  }

  &-body-address--paragraaf .p1 .a1 {
    border: none;
    background: transparent;
    font-weight: 300;
    font-size: 1rem;
    position: relative;
    top: 0.2rem;

    cursor: pointer;
    outline: none;

    @mixin atSmall {
      position: relative;
      left: 0;
    }

    @mixin atMedium {
      margin-top: -0.5rem;
      position: relative;
      left: 0;
      top: 0.5rem;
    }

    @mixin atLarge {
      left: 0;
    }
  }
}

.container__opening {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  width: 100%;
  display: flex;
  flex-direction: column;

  @mixin atMedium {
    flex-direction: row;
    width: 100%;
    max-width: 50rem;
    margin: 0 auto;

    @mixin atLarge {
      max-width: 85rem;
      padding: 2rem 0;
      position: relative;
      right: 2rem;
    }
  }

  &-img {
    display: block;
    width: 100vw;
    margin: 0 auto;

    @mixin atMedium {
      margin-top: 2rem;
      width: 100%;
      flex: 1;
    }
  }

  &-img-foto {
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;

    @mixin atLarge {
      position: relative;
      left: 4rem;
    }
  }

  &-body {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    @mixin atMedium {
      flex: 1;
      position: relative;
      left: 5rem;
    }

    @mixin atLarge {
      left: 12rem;
    }
  }

  &-body--img {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  &-body--img-haakje {
    @mixin atMedium {
      transform: scale(1.1);
      z-index: -5;
    }
  }

  &-body-address {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    position: relative;
  }

  &-body-address--title {
    font-family: $fontTitels;
    color: $colorPrimary;
    font-weight: 400;
    margin-left: 0.3125rem;
    font-size: 1.7rem;

    @mixin atMedium {
      position: absolute;
      left: -0.5rem;
      z-index: 5;
    }
  }

  &-body-address--paragraaf {
    font-size: 1rem;
    font-family: $fontPrimary;
    color: $colorPrimary;
    font-weight: 300;
    margin-left: 2rem;
    line-height: 0.2;
    letter-spacing: 0.1px;

    @mixin atMedium {
      position: absolute;
      top: 3.5rem;
      font-size: 1rem;
      line-height: 0.2;
    }

    @mixin atLarge {
      font-size: 1.1rem;
    }
  }

  &-body-address--paragraaf .p1,
  &-body-address--paragraaf .p2,
  &-body-address--paragraaf .p3 {
    padding-bottom: 0.8em;

    @mixin atMedium {
      padding-bottom: 0.3em;
    }
  }
}

.arrow__up {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}
