.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 50vh;
  margin: 0 auto;

  @mixin atSmall {
    width: 30.25rem;

    margin: 0 auto;
  }

  @mixin atLarge {
    width: 56.25rem;
    position: relative;
    left: 4rem;
  }

  &__img {
    width: 80%;

    @mixin atLarge {
      width: 50%;
    }
  }

  &__title {
    font-family: $fontPrimary;
    font-weight: 400;
    color: $colorLight;
    font-size: 1.2rem;

    @mixin atSmall {
      font-size: 1.4rem;
    }

    @mixin atLarge {
      font-size: 1.6rem;
    }
  }
}
